* {
    box-sizing: border-box;
    margin: 0;
}

body {
  background-color: #676767;
}

.app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* HEADER */

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 200%;
    width: 100%;
}

header > img {
  max-width: 100%;
}

header > button {
  position: absolute;
  font-size: 4em;
  top: 16%;
  left: 26.5%;
  margin: 0;
  color: #ff99bb;
  font-weight: 700;
}

/* RECENT SECTION */

.recent-section {
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.recent-section > div {
  margin: 0 auto;
  padding-bottom: 20px;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: .8em;
  font-weight: 400;
}

.recent-section > div > div > img {
  max-width: 100%;
  max-height: 500px;
  border: 3px solid black;
  margin: 0;
}

.recent-section > div > div {
  background-color: black;
}

.recent-section > div > h1 {
  font-size: 2em;
  margin: 0;
  margin-bottom: 20px;
}

/* SCENES SECTION */

.scenes-section {
  margin: 0;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(1, 100%);
  grid-template-rows: auto;
  row-gap: 80px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(at bottom center, #676767, #444);
}

.scenes-section > div {
  margin: 0 auto;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: .8em;
  font-weight: 400;
}

.scenes-section > div > img {
  max-width: 100%;
  max-height: 500px;
  border: 3px solid white;
}

.scenes-section > div > h2 {
  margin: 0;
}

/* SPRITES SECTION */

.sprite-section {
  margin: 0;
  padding: 20px;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: auto;
  row-gap: 20px;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(at bottom center, #676767, #444);
}

.sprite-section > div {
    margin: 0 auto;
    padding: 0;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .8em;
    font-weight: 400;
}

.sprite-section > div > img {
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 300px;
    border: 3px solid white;
}

.sprite-section> div > h2 {
  margin-top: 0;
  padding: 0;
}

/* IMAGE OVERLAYS */

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay-container {
  position: relative;
}
.overlay-container:hover .overlay{
  opacity: 1;
}

.text {
  color: white;
  font-size: 200%;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.button-container {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #444;
    
}

/* BUTTONS */

button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    text-decoration: none;
    font-family: inherit;
    cursor: pointer;
}

.nav-button {
  background-color: #444;
  outline: 2px solid white;
  border-radius: 40px;
  margin-left: 20px;
  margin-right: 20px;
  color: #ff99bb;
  font-size: 1em;
  font-weight: 600;
}

.nav-button > img {
  margin-left: 4px;
}

@media (min-width: 768px) {
  .nav-button {
    padding: 5px 14px;
  }
}

.nav-button:hover {
  background-color: white;
}

/* .nav-button {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-size: .8em;
  font-weight: 500;
  line-height: 24px;
  outline: none;
  overflow: visible;
  pointer-events: auto;
  position: relative;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  margin: 20%, 0;
}

@media (min-width: 768px) {
  .nav-button {
    padding: 10px 25px;
  }
}

.nav-button:before,
.nav-button:after {
  border-radius: 80px;
}

.nav-button:before {
  background-color: #444;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.nav-button:after {
  background-color: initial;
  background-image: linear-gradient(92.83deg, #ff99bb 0,#ff3399 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.nav-button:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
}

.nav-button:active:not(:disabled) {
  color: #ccc;
}

.nav-button:active:not(:disabled):after {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.nav-button:disabled {
  cursor: default;
  opacity: .24;
} */